<h1>Canyoneering Beta (info about canyons)</h1>
<h2>Search for Routes by Canyon Name</h2>
<form class="form-horizontal canyon">
<div class="col-sm-10">
<input id="name" class="col-sm-10" type="text">
</div>
<button class="search btn btn-submit">Search</button>
</form>
<h3>Search Results:</h3>
<ul class="search_results"></ul>
<br>
<div id="route_canyon_search"></div>
<br>
<div id="canyons"></div>
<br>
<div id="routes"></div>
<br>
<div id="rappels"></div>
<br>
<div id="adventurers"></div>
<br>
<div id="trips"></div>
<br>
<div id="advent_trip"></div>
<br>
<div id="trip_route"></div>
<br>
<div id="advent_rappel"></div>
<br>
<div id="route_canyon"></div>
